<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold text-center mb-4">Reset Password</h1>

    <form class="space-y-4" (submit)="restPass()">
      <div class="flex flex-col">
        <label for="new-password" class="text-sm font-medium mb-2"
          >New Password</label
        >
        <input
          type="password"
          id="new-password"
          class="input-style"
          placeholder="••••••••"
        />
      </div>

      <div class="flex flex-col">
        <label for="confirm-password" class="text-sm font-medium mb-2"
          >Confirm Password</label
        >
        <input
          type="password"
          id="confirm-password"
          class="input-style"
          placeholder="••••••••"
        />
      </div>

      <button type="submit" class="btn">Reset Password</button>
    </form>
  </div>
</div>
