<div class="container flexBtw mx-auto p-4 text-dark-foreground">
  <p class="txtMed cursor-pointer">{{ title }}</p>

  <div class="flexArd gap-9">
    <p class="links">{{ paraLinks[0] }}</p>
    <p class="links">{{ paraLinks[1] }}</p>
    <p class="links">{{ paraLinks[2] }}</p>
    <p class="links">{{ paraLinks[3] }}</p>
  </div>

  <div class="flexBtw gap-7">
    <button type="button" class="links" (click)="navigateTo()">
      {{ btnTxt[0] }}
    </button>
    <app-button-3D
      [btnTxt]="btnTxt[1]"
      (actions)="navigateTo()"
    ></app-button-3D>
  </div>
</div>
